div class="gallery"
    - Dir.foreach(FileHelper.get_event_folder_path(@event_id)) do |item|
        - next if item == '.' or item == '..'
        div class="photo" style="background-image: url('#{FileHelper.get_image_path(@event_id, item)}')"