header
	a class="nashville" href="/upload" style="background-image: url('#{@latest_image_file}')"
	div class="left sleeve"
	div class="right sleeve"

div class="timeline"

 	- @events.each_with_index do |event, index|
 		div class="event #{(index % 2 == 0 ? "right" : "left")}"
 			div class="content"
/ 			div class="date"
/ 				i class="fa fa-calendar-o"
/ 				span class="day"
/ 					| #{event.event_date.strftime("%d")}
/ 				span class="month"
/ 					| #{event.event_date.strftime("%b")}

/ 			div class="milestone"
/ 				a href="/upload/#{event.id}" class="#{event.major ? 'major' : 'minor'}"

/ 			div class="content"
/ 				div class="description"
/ 					| #{event.description}

/ 				div class="photos"
/ 					- Dir.foreach(FileHelper.get_event_folder_path(event.id)) do |item|
/ 						- next if item == '.' or item == '..'

/ 						div class="photo" style="background-image: url('#{FileHelper.get_image_path(event.id, item)}')"


/ footer
/ 	| made by james formica