$background-colour: #f2f2f2

$header-height: 300px
$sleeve-wedge-size: 40px

$footer-height: 60px

$timeline-line-colour: #999
$milestone-size: 20px
$milestone-top-margin: 20px
$content-ear-size: 10px