/* PAGE */
$background-colour: #f2f2f2

/* HEADER */
$header-height: 300px
$sleeve-wedge-size: 40px

/* FOOTER */
$footer-height: 60px

/* TIMELINE */
$timeline-line-colour: #999
$milestone-size: 20px
$milestone-top-margin: 20px
$milestone-outline-size: 4px
$event-padding: 50px
$event-border-radius: 6px

/* CONTROLS */
$input-background-colour: #f2f2f2
$input-forground-colour: #999
$input-height: 36px

/* BUTTONS */
$primary-colour: #27B9D3
$secondary-colour: #F16B6F