@import _vars

html
	font-family: Roboto
	background: $background-colour

body
	margin: 0
	font-size: 12px

	&.no-scroll
		overflow: hidden

footer
	width: 100%
	height: $footer-height
	line-height: $footer-height
	text-align: center

a
	color: crimson

.sneaky-cheeky
	position: absolute
	top: 0
	right: 0
	width: 20px
	height: 20px

.notify
	display: inline-block
	padding: 20px
	background: #f2f2f2
	border-left: 3px solid cornflowerblue

	> i
		margin-right: 5px