$header-height: 250px

$footer-height: 60px

html
	font-family: Roboto
	background: white

header
	position: relative
	font-family: Pacifico
	font-size: $header-height / 2
	text-align: center
	color: white
	height: $header-height
	line-height: $header-height
	background: #999

	a
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		text-decoration: none
		background-size: cover
		background-position: center

		&:visited
			color: white

body
	margin: 0

footer
	width: 100%
	height: $footer-height
	line-height: $footer-height
	text-align: center