$timeline-line-colour: #999
$timeline-width: 80px
$major-width: 40px
$minor-width: 30px

$date-width: 70px
$milestone-width: 50px

=milestone-style($size, $background)
	position: relative
	display: inline-block
	width: $size
	height: $size
	background: white
	border: 2px solid $background

.timeline
	position: relative
	display: relative
	width: 100%

	> .event
		display: flex
		width: 100%
		align-items: stretch

		> .date
			display: inline-block
			width: $date-width
			text-align: center
			flex-shrink: 0

		> .milestone
			position: relative
			display: inline-block
			width: $milestone-width
			text-align: center
			flex-shrink: 0

			&:before
				content: ""
				position: absolute
				top: 0
				width: 1px
				height: 100%
				left: 50%
				transform: translateX(-50%)
				background: $timeline-line-colour

			> .major
				border-radius: 50%
				+milestone-style($major-width, #00CED1)

		> .content
			display: flex
			flex-grow: 1
			flex-direction: column
			padding: 0 20px

			> .description
				position: relative
				padding: 20px
				margin-bottom: 20px
				box-sizing: border-box
				font-weight: bold

			> .photos
				width: 100%
				display: flex
				flex-wrap: wrap
				padding: 3px
				box-sizing: border-box

				> .photo
					background-color: white
					width: 200px
					height: 150px
					display: inline-block
					float: left
					margin: 3px
					flex-grow: 1
					box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)


// .timeline
// 	position: relative
// 	width: $timeline-width
// 	margin: 20px 0
// 	margin-left: 50px
// 	text-align: center

// 	&:before
// 		content: ""
// 		position: absolute
// 		top: 0
// 		width: 1px
// 		height: 100%
// 		left: 50%
// 		transform: translateX(-50%)
// 		background: $timeline-line-colour

// 	> .milestone
// 		position: relative
// 		margin: 100px auto
// 		border-radius: 50%
// 		box-sizing: border-box

// 		&:first-child
// 			margin-top: 0

// 		&:last-child
// 			margin-bottom: 0

// 		&.major
// 			+milestone-style($major-width, #00CED1)

// 		&.minor
// 			+milestone-style($minor-width, #D9169F)

// 		&:before
// 			content: attr(date)
// 			position: absolute
// 			left: -50px
// 			top: 50%
// 			transform: translateY(-50%)
// 			white-space: nowrap
// 			font-size: 12px