@import _vars

.timeline
	position: relative
	width: 100%

	&:before
		content: ""
		position: absolute
		width: 1px
		height: 100%
		left: 50%
		transform: translateX(-50%)
		background-color: $timeline-line-colour


	> .event
		position: relative
		width: 50%
		padding: 0 $event-padding
		box-sizing: border-box

		&:after
			content: ""
			position: absolute
			top: $milestone-top-margin
			width: $milestone-size
			height: $milestone-size
			background-color: crimson
			outline: 4px solid $background-colour
			border-radius: 50%

		> .dates
			position: absolute
			margin-top: $milestone-top-margin
			color: $timeline-line-colour
			line-height: $milestone-size

			> i
				margin-right: 10px

		> .content
			position: relative
			height: 100%
			background-color: white
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22)
			border-radius: $event-border-radius

			&:before
				content: ""
				position: absolute
				top: $milestone-top-margin + $milestone-size / 2
				width: $event-padding - ($milestone-size / 2) - $milestone-outline-size
				height: 1px
				background-color: $timeline-line-colour

			> .random-image
				position: relative
				width: 100%
				height: 300px
				background-size: cover
				background-position: center
				border-top-left-radius: $event-border-radius
				border-top-right-radius: $event-border-radius

			> .description
				padding: 20px

				> a
					display: block
					margin-top: 20px

					> i
						margin-right: 10px
						font-size: 16px

		&.major
			&:after
				background-color: $background-colour
				border: 2px solid crimson

		&.right
			margin-left: 50%

			&:after
				left: 0
				transform: translateX(-50%)

			> .dates
				left: 0
				transform: translateX(calc(-100% - 20px))

			> .content
				&:before
					left: ($event-padding - ($milestone-size / 2) - $milestone-outline-size) * -1

		&.left
			margin-left: 0

			&:after
				right: 0
				transform: translateX(50%)

			> .dates
				right: 0
				transform: translateX(calc(100% + 20px))

			> .content
				&:before
					right: ($event-padding - ($milestone-size / 2) - $milestone-outline-size) * -1
					
